<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>
            Mercado Liebre
        </title>
        
    </head>
    <body>
    <header>
            <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <p>Lugar para poner barra de búsqueda</p>
            <div>
                <span>IconoMano</span>
                <span>Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
            <div>
                Ofertas
            </div>
            <div>
                Tiendas Oficiales
            </div>
            <div>
                Vender
            </div>
            <div>
                Ayuda
            </div>

            <div><br></div>

            <div>
                <span>Creá tu cuenta</span>
                <span>IconoCuenta</span>
            </div>
            <div>
                <span>Ingresá</span>
                <span>IconoIngresar</span>
            </div>
            <div>
                <span>Mis compras</span>
                <span>IconoChanguito</span>
            </div>

            <div class="burguer-menu">
                <i class = "fas fa-bars"></i>
            </div>
    </header>
    <footer>
        Mercado Liebre© 1999 - 2021 <br>
        Todos los derechos reservados <br>
        A la grande le puse cuca
    </footer>
    </body>
</html>