<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>
            Mercado Liebre
        </title>
        
    </head>
    <body>
    <header>
            <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <p>Lugar para poner barra de búsqueda</p>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <br>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
    </header>

    <nav>
        <section>
            <header>
                <h3>Basado en tu última visita</h3>
            </header>
            <img src="../public/images/img-cafetera-moulinex.jpg">
            <p>$6.700</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            <img src="../public/images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>Macbook Pro 2019</p>
            <img src="../public/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>
            <img src="../public/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>
        </section>
            <header>
                <h3>Sección de ofertas</h3>
            </header>
            <img src="../public/images/img-cafetera-moulinex.jpg">
            <p>$6.700</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            <img src="../public/images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>Macbook Pro 2019</p>
            <img src="../public/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>
            <img src="../public/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>


    </nav>

    
    <footer>
        <section>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h5>Envío gratis desde $2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h5>Seguridad de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        Copyright© 1999 - 2020 MercadoLiebre S.R.L. <br>
        A la grande le puse cuca
    </footer>
    </body>
</html>